* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-image: url("https://cdn.pixabay.com/photo/2017/01/24/03/53/plant-2004483_960_720.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
}
@media (min-width: 1200px) {
    .container {
        max-width: 1170px;
    }
}

.col_img {
    object-fit: cover;
}


button {
    cursor: pointer;
}

.admin-title {
    text-align: center;
    margin-top: 30px;
    font-weight: bold;
}

.logout {
    text-align: end;
}

.admin-btn {
    text-align: center;
    margin-top: 50px;
}

.img-25 {
    max-width: 100%;
    max-height: 100%;
}

.ofh-100 {
    overflow: hidden;
}

.h55 {
    max-height: 100px;
}

.main-div {
    border: 3px solid #39454b;
    border-radius: 5px;
}